.CP{
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: black;
    min-width: 50vw;
}

.button {
    background-color: transparent;
    border: 2px solid #3498db;
    color: #3498db;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button-container{
    padding-top: 7px;
    display: flex;
    justify-content: center; 
    gap: 3px;
    align-items: center; 
}

.button:hover {
    background-color: #E966A0;
}
  

.center-section{
    margin-top: 15px;
}

.center-section h1{
    position: relative;
    text-align: center;
    color: white;
}



@media (min-width :768px) {
    .CP{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}