.CP{
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: black;
}

.center-section{
    margin-top: 15px;
}

.center-section h1{
    position: relative;
    text-align: center;
    color: white;
}

@media (min-width :768px) {
    .CP{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}